body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #444;
    background-color:#fefefe;
    padding:80px 0px 0px 0px;
    margin:0;
}
header{
    height:450px;
    widows: 100%;
    background-image:url('../images/header.jpg');
    margin-top:-80px;
    background-size:cover;
}
main{
    padding:0.4rem 0px 0px 0px;
}
main.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
section{
    padding:0.13rem 0rem 0.13rem 0rem;
}
footer{
    background-color:#3F77A8;
    margin:0;
}
h1{
    font-size:120%;
    font-weight: 300;
}
h2{
    font-size:115%;
    font-weight: 200;
}
h3{
    font-size:110%;
    color:#fefefe;
}
p{
    font-size:12pt;
}
a{
    color:#fefefe;
}
a:hover{
    color:#fefefe;
    text-shadow:3px #000;
    text-decoration: none;
}


/*Navigation*/
.navbar-collapse{
    margin-top:5%;
}
@media screen and (min-width: 991px){
    .navbar-collapse{
        margin-top:0%;
    }
}
.navbar-custom{
    background-color:#fefefe;
    box-shadow:0px 2px 3px #ededed;
    transition: all ease .5s;
}
.scrolled-nav{
    background-color:#3F77A8;
    box-shadow:0px 2px 3px #3d3d3d;
}
.nav-logo{
    height:100px;
    padding-right:1.3rem;
    transition: all ease .5s;
}
.scrolled-nav-logo{
    height:80px;
}
.navbar-nav li a{
    border-radius: calc(0.25rem - 1px);
    margin-left: 5%;
    margin-right:5%;
}

.nav-custom-hover-light a:hover{
    background-color:#efefef;
}
.nav-custom-hover-light a.active{
    background-color:#cce8ff;  
}
.nav-custom-hover-dark a.active{
    background-color:#2699FB;
}
.nav-custom-hover-dark a:hover{
    background-color:#1F89E4;
}
.nav-link{
    min-width:60px;
    width:auto;
}

/*Button*/
.btn-custom{
    width:90%;
    font-size:90%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5%;
    margin-right:10px;
}


/*Footer*/
#contact{
    background-color:#3F77A8;
    box-shadow:0px 2px 3px #000000;
}
.contact >ul {
    padding-left:5px;
}
.contact > ul > li{
    color:#fefefe;
    list-style: none;
}
#snackbar{
    background-color:#30587B;
    box-shadow:0px 2px 3px #000000;
    padding-top:15px;
    padding-bottom:15px;
}
#copyright{
    background-color:#3A5872;
    border-top:1px solid #344C61;
    padding-top:20px;
}
.copyright{border-top:1px solid #95A4B1;}
.copyright a, .copyright p{
    padding-top:5px;
    font-size:80%;
    color:#95A4B1;
}
.alert-custom{
    position:fixed;
    bottom:5px;
    width:93%;
    left:3%;
    box-shadow:0px 3px 5px #3d3d3d;
    background-color:#cce5ff;
}


/*MAIN*/
/*Content*/
.content{
    padding-top:50px;
}
/*Landing-Page Panel Worktime*/
.card-open{
    background-color:transparent;
    width:100%;
}
#worktimeBig{
    background-color:#2699FB;
}
#servicesBig{
    min-height:250px;
    background-color:#8BB0D1;
}
.panel-link{
    color:#3F77A8;
    font-size:120%;
}
.panel-link:hover{
    color:#3F77A8;
}
.padding-container{
    padding:20px 0px 20px 0px;
}

/**/
.smallServices{
    padding-top:20px;
    padding-bottom:20px;
}

/*Contact-Site*/
/**/
#contactSection{
    background-color:#2699FB;
}
.contact-cards{
    border: 2px solid white;
    background-color: transparent;
}



@media screen and (min-width:991px){
    .card-open{
        width:75%;
    }
}