body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #000;
    padding:80px 0px 0px 0px;
    margin:0;
}
header{
    height:500px;
}
main{
    padding:50px 0px 0px 0px;
}
main.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
footer{
    background-color:#3F77A8;
    margin:0;
}
h1{
    font-size:120%;
    font-weight: 300;
}
h2{
    font-size:115%;
    font-weight: 200;
}
h3{
    font-size:110%;
    color:#fefefe;
}
p{
    font-size:12pt;
}
a{
    color:#fefefe;
}
a:hover{
    color:#fefefe;
    text-shadow:3px #000;
    text-decoration: none;
}


/*Navigation*/
.navbar-custom{
    background-color:#fefefe;
    box-shadow:0px 2px 3px #ededed;
    transition: all ease .5s;
}
.scrolled-nav{
    background-color:#3F77A8;
    box-shadow:0px 2px 3px #3d3d3d;
}
.nav-custom-hover-dark a:hover{
    background-color:#eeeeee;
}
.nav-custom-hover-light a:hover{
}

/*Button*/
.btn-custom{
    width:90%;
    font-size:90%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5%;
    margin-right:10px;
}


/*Footer*/
#contact{
    background-color:#3F77A8;
    box-shadow:0px 2px 3px #000000;
}
.contact >ul {
    padding-left:5px;
}
.contact > ul > li{
    color:#fefefe;
    list-style: none;
}
#snackbar{
    background-color:#30587B;
    box-shadow:0px 2px 3px #000000;
    padding-top:15px;
    padding-bottom:15px;
}
#copyright{
    background-color:#3A5872;
    border-top:1px solid #344C61;
    padding-top:20px;
}
.copyright{border-top:1px solid #95A4B1;}
.copyright a, .copyright p{
    padding-top:5px;
    font-size:80%;
    color:#95A4B1;
}

/*Landing-Page Panel Worktime*/
#worktimeBig{
    background-color:#2699FB;
}
#servicesBig{
    min-height:250px;
    background-color:#8BB0D1;
}
.panel-link{
    color:#3F77A8;
    font-size:120%;
}
.panel-link:hover{
    color:#3F77A8;
}
.padding-container{
    padding:50px 0px 25px 0px;
}